<html>

<head>
    <title>Test Ws mqtt.js</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="icon" type="image/png" href="/media/favicon.png">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

    <center>

        <header>
            <h1><a href="/">Project - Computer science</a> </h1>
            <button id="lightsButton">Lights</button>
            <button id="roomsButton">Rooms</button>
            <button id="buildingsButton">Buildings</button>
        </header>

        <h2><span id="title"></span></h2>

        <div>
            <button id="addButton" style="display: none"></button>
        </div>

        <br>

        <div>
            <form id="formAddItem">
            </form>
        </div>

        <br>

        <div>
            <table id="tableau">
            </table>
        </div>






        <hr>

        <span>Tests Vue.js</span>

        <div id="app">
            <h1>Test</h1>

            <button v-on:click="test('Coco')">Push</button>
        </div>



        <!-- Lights -->
        <div id="lights" style="display:none">
            <table>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Room ID
                    </th>
                    <th>
                        Level
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
                <tr v-for="light in lights">
                    <td>
                        {{light.id}}
                    </td>
                    <td>
                        {{light.roomId}}
                    </td>
                    <td>
                        {{light.level}}
                    </td>
                    <td>
                        <button v-on:click="switchLight(light)"><img v-bind:src="changePicture(light)"></button>
                    </td>
                    <td>
                        <button v-on:click="deleteLight(light)"><img src="media/delete.png"></button>
                    </td>
                </tr>
            </table>
        </div>
        
        <!-- Rooms -->
        <div id="rooms" style="display:none">
            <table>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Floor
                    </th>
                    <th>
                        Building ID
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
                <tr v-for="room in rooms">
                    <td>
                        {{room.id}}
                    </td>
                    <td>
                        {{room.name}}
                    </td>
                    <td>
                        {{room.floor}}
                    </td>
                    <td>
                        {{room.buildingId}}
                    </td>
                    <td>
                        <button v-on:click="switchLight(room)"><img v-bind:src="changePicture(room)"></button>
                    </td>
                    <td>
                        <button v-on:click="deleteLight(light)"><img src="media/delete.png"></button>
                    </td>
                </tr>
            </table>
        </div>
        
        <!-- Buildings -->
        <div id="buildings" style="display:none">
            <table>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
                <tr v-for="building in buildings">
                    <td>
                        {{building.id}}
                    </td>
                    <td>
                        {{building.name}}
                    </td>
                    <td>
                        <button v-on:click="switchLight(light)"><img v-bind:src="changePicture(light)"></button>
                    </td>
                    <td>
                        <button v-on:click="deleteLight(light)"><img src="media/delete.png"></button>
                    </td>
                </tr>
            </table>
        </div>

    </center>
    <script src="ajax.js"></script>
    <script src="index.js"></script>
</body>

</html>