<html>

<head>
    <title>Test Ws mqtt.js</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="icon" type="image/png" href="/media/favicon.png">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

    <center>

        <header>
            <h1><a href="/">Project - Computer science</a> </h1>
            <button id="lightsButton">Lights</button>
            <button id="roomsButton">Rooms</button>
            <button id="buildingsButton">Buildings</button>
        </header>

        <h2><span id="title"></span></h2>

        <div>
            <button id="addButton" style="display: none"></button>
        </div>

        <br>

        <div>
            <form id="formAddItem">
            </form>
        </div>

        <br>

        <div>
            <table id="tableau">
            </table>
        </div>






        <hr>

        <span>Tests Vue.js</span>

        <div id="app">
            <h1>Test</h1>

            <button v-on:click="test('Coco')">Push</button>
        </div>








        <!-- component template -->
        <script type="text/x-template" id="grid-light">
            <table>
                <thead>
                    <tr>
                        <th v-for="key in columns" @click="sortBy(key)" :class="{ active: sortKey == key }">
                            {{ key | capitalize }}
                            <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="entry in filteredData">
                        <td v-for="key in columns">
                            {{entry[key]}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </script>

        <!-- demo root element -->
        <div id="demo">
            <demo-grid :data="gridData" :columns="gridColumns">
            </demo-grid>
        </div>



        <!-- demo root element -->
        <div id="grid">
            <table>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Room ID
                    </th>
                    <th>
                        Level
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                <tr v-for="light in lights">
                    <td>
                        {{light.id}}
                    </td>
                    <td>
                        {{light.roomId}}
                    </td>
                    <td>
                        {{light.level}}
                    </td>
                    <td>
                        <button v-on:click="switchLight(light)"><img v-bind:src="status_light"></button>
                    </td>
                </tr>
            </table>
        </div>




    </center>
    <script src="ajax.js"></script>
    <script src="index.js"></script>
</body>

</html>