<html>

<head>
    <title>Poject - Lightbulb</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="icon" type="image/png" href="/media/favicon.png">
</head>

<body>

    <header>
        <div class="title">
            <h1><a href="/">Project - Computer science</a> </h1>
        </div>
        <div class="buttonHeader">
            <button id="lightsButton">Lights</button>
            <button id="roomsButton">Rooms</button>
            <button id="buildingsButton">Buildings</button>
        </div>
    </header>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <center>

        <div id="divAddButton" style="display: none" class="addButton">
            <button id="addButton"></button>
        </div>

        <div id="divFormAddItem" class="divFormAddItem" style="display: none">
            <form id="formAddItem">
            </form>
        </div>

        <!-- component template -->
        <script type="text/x-template" id="components-grid-template">
            <table>
                <thead>
                    <tr>
                        <th v-for="key in columns" @click="sortBy(key)" :class="{ active: sortKey == key }">
                            {{ key | capitalize }}
                            <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                      </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="entry in filteredData">
                        <td v-for="key in columns">
                            <span v-bind:id="'span_' + key + '_' + entry[columns[0]]">
                                <button v-bind:id="'button_' + key + '_'  + entry[columns[0]]">
                                    <img v-bind:id="'img_' + key + '_'  + entry[columns[0]]" style="display: none;">
                                    <span>
                                        {{entry[key]}}
                                    </span>
                                </button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </script>
       
        <!-- demo root element -->
        <div id="components">
            <form id="search">
                Search <input name="query" v-model="searchQuery">
            </form>
            <components-grid :data="gridData" :columns="gridColumns" :filter-key="searchQuery">
            </components-grid>
        </div>
        
    </center>

    <script src="ajax.js"></script>
    <script src="index.js"></script>
</body>

</html>
